/* Globales */
*::after,
*::before,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff; /* Fondo blanco */
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Lato', sans-serif;
    color: #1a52b7; /* Texto azul */
}

/* Icono del carrito */
.container-icon {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
    position: relative; /* Para el posicionamiento absoluto de count-products */
}

.icon-cart {
    width: 80px; /* Ajusta el ancho del icono */
    height: 80px; /* Ajusta la altura del icono */
    stroke: #ff4e00; /* Color del icono en naranja */
}

.count-products {
    position: absolute; /* Asegúrate de que se superponga al icono */
    top: 10%; /* Ajusta según sea necesario */
    left: -0%; /* Coloca el contador a la derecha del icono */
    
    background-color: #ff4e00; /* Fondo naranja */
    color: #ffffff; /* Texto blanco */
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.icon-cart:hover {
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
}

img {
    max-width: 60%;
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
    display: block; /* Permite centrar la imagen */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.logocontainer {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.logo {
    max-width: 100px; /* Ajusta el tamaño según sea necesario */
    height: auto; /* Mantiene la proporción */
    border-radius: 10px; /* Bordes suaves */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Efecto de transición */
}

.logo:hover {
    transform: scale(1.05); /* Efecto de aumento al pasar el mouse */
    box-shadow: 0 0 15px rgba(255, 165, 0, 0.7); /* Destello naranja */
}

#contador-productos {
    font-size: 18px;
}


/* Main */
.container-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    flex: 1 1 calc(33% - 10px); /* 3 items por fila */
    margin: 5px;
    background-color: #ffffff; /* Fondo blanco para los ítems */
    border-radius: 5px; /* Bordes menos agresivos */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); /* Sombra más suave */
    transition: transform 0.2s; /* Transición al pasar el mouse */
}

@media (max-width: 768px) {
    .item {
        flex: 1 1 100%; /* Un solo item por fila en pantallas pequeñas */
    }
}

.item:hover {
    transform: scale(1.02); /* Efecto de aumento suave al pasar el mouse */
}

.item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px 5px 0 0; /* Bordes suaves en la parte superior */
    transition: all .5s;
}

.item figure {
    overflow: hidden;
}

.item:hover img {
    transform: scale(1.1);
}

.info-product {
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.price {
    font-size: 18px;
    font-weight: 900;
    color: #1a52b7; /* Azul para el precio */
}

.info-product button {
    border: none;
    background-color: #ff4e00; /* Fondo naranja para los botones */
    color: #ffffff; /* Texto blanco */
    padding: 15px 10px;
    cursor: pointer;
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease;
}

.info-product button:hover {
    background-color: #e53e00; /* Naranja más oscuro al pasar el mouse */
}

/* Barra de búsqueda */
/* Ajustes para la barra de búsqueda */
.search-bar {
    flex-grow: 1; /* Permite que ocupe el espacio restante */
    display: flex;
    justify-content: center;
}

#search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; /* Se ajusta al ancho del contenedor */
    max-width: 300px; /* Limita el ancho máximo */
}

/* Carrito */

.container-cart-products {
    transition: transform 0.3s ease;
    /* Otras propiedades */
}

.cart-product {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-product:hover {
    transform: scale(1.02); /* Efecto de hover */
}

#vaciar-carrito {
    background-color: #f44336; /* Rojo para llamar la atención */
    color: white; /* Texto blanco */
    border: none; /* Sin borde */
    padding: 10px 15px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar el cursor al pasar el mouse */
    font-size: 16px; /* Tamaño de fuente */
    transition: background-color 0.3s ease; /* Transición suave al cambiar de color */
}

#vaciar-carrito:hover {
    background-color: #d32f2f; /* Color más oscuro al pasar el mouse */
}

#vaciar-carrito:disabled {
    background-color: #ccc; /* Color gris si está deshabilitado */
    cursor: not-allowed; /* Cursor que indica que no se puede hacer clic */
}


.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #45a049; /* Color más oscuro al pasar el mouse */
}

.btn-reduce, .btn-remove {
    background-color: #f44336; /* Rojo para el botón */
    color: white; /* Texto blanco */
    border: none; /* Sin borde */
    padding: 5px 10px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar el cursor al pasar el mouse */
    margin-left: 5px; /* Espaciado entre botones */
}

.btn-reduce:hover, .btn-remove:hover {
    background-color: #d32f2f; /* Color más oscuro al pasar el mouse */
}


.info-cart-product {
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito {
    font-size: 20px;
}

.precio-producto-carrito {
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito {
    font-weight: 400;
    font-size: 20px;
}

.icon-close {
    cursor: pointer; /* Cambiar el cursor al pasar el mouse */
    fill: #f44336; /* Color del icono */
    width: 20px; /* Tamaño del icono */
    height: 20px; /* Tamaño del icono */
}

.icon-close:hover {
    fill: #d32f2f; /* Color más oscuro al pasar el mouse */
}

.cart-total {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
    left: auto;
}

.cart-total h3 {
    font-size: 20px;
    font-weight: 700;
}

.total-pagar {
    font-size: 20px;
    font-weight: 900;
}

.notification {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: none; /* Oculto por defecto */
}

.notification.show {
    display: block; /* Mostrar cuando se añade la clase */
}


.hidden-cart {
    display: none;
}
